*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("./assets/2Okp9b.jpeg");
    display: flex;
    justify-content: center;
}

.addTask-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

h1{
    margin: 1rem;
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
}

.form-container{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorMsg{
    font-weight: 600;
    font-size: 1.1rem;
    color: gainsboro;
    background: black;
    padding: 0.25rem 1rem;
    display: none;
}

input{
    margin: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}

button{
    margin: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 15px;
    border: 2px solid black;
    font-weight: 600;
}

.task-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li{
    background-image: url("./assets/img.jpeg");
    background-size: contain;
    color: white;
    border: 2px solid slateblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    font-weight: 600;
}